html>body #content { min-height: 600px; }
#content_plugin { width: 75%; background-color: #fff; margin: 0px; border-right: 1px solid #ddd; padding: 6px 10px 10px 10px; z-index: 10; }
/***** Tables *****/
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td {text-align:center; vertical-align:top; padding-right:10px;}
table.list td.id { width: 2%; text-align: center;}
table.list td.name, table.list td.description, table.list td.subject, table.list td.comments {text-align: left;}
table.list td.amount {text-align: right;}
table.list td.tick {width:15%}
table.list td.checkbox { width: 15px; padding: 2px 0 0 0; }
table.list td.checkbox input {padding:0px;}
table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
table.list td.buttons a { padding-right: 0.6em; }
table.list td.reorder {width:15%; white-space:nowrap; text-align:center; }
table.list caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; }
.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}
.new {float: right;}


#main_box {
	width: 700px;
	float: left;
 	min-height:300px;
}
#left_box {
	float:right;
	width: 300px;
	background-color: #F0F0F0;
	border: 1px solid #C0C0C0;
	min-height:300px;
}
#special {
	border: 1px solid black;
	width: 100%;
}

#special1{
	border: 1px solid black;
	background-color: #C0C0C0;
}
#special2{
	border: 1px solid black;
	background-color: #F0F0F0;
}
